{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        org.clojure/core.async {:mvn/version "0.7.559"}}

 :paths ["src"]

 :aliases
 {:build
  {:jvm-opts ["-Xmx2048m"
              "-XX:+HeapDumpOnOutOfMemoryError"]
   :main-opts ["./scripts/build.clj"]}

  :test
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cljs-test-runner.main"]}

  :pack
  {:main-opts
   ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "whiskey.jar"]

   :extra-deps
   {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                     :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}}

  :deploy
  {:main-opts
   ["-m" "deps-deploy.deps-deploy" "deploy" "whiskey.jar"]

   :extra-deps
   {deps-deploy {:mvn/version "RELEASE"}}}}}
