{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/core.async {:mvn/version "1.6.673"}

        applied-science/js-interop {:mvn/version "0.3.3"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        cljs-bean/cljs-bean {:mvn/version "1.9.0"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"}
        metosin/potpuri {:mvn/version "0.5.3"}
        metosin/sieppari {:mvn/version "0.0.0-alpha13"}}

 :paths ["src"]

 :aliases
 {:build
  {:jvm-opts ["-Xmx2048m"
              "-XX:+HeapDumpOnOutOfMemoryError"]
   :main-opts ["./scripts/build.clj"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :test
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cljs-test-runner.main"]}

  :pack
  {:main-opts
   ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "whiskey.jar"]

   :extra-deps
   {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                     :sha "47ee078edcd6f85353dc5455dc0232c64a46e2ef"}}}}}
